@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  @font-face {
    font-family: vazir;
    font-weight: 400;
    src: url(/fonts/Vazirmatn-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: vazir;
    font-weight: 500;
    src: url(/fonts/Vazirmatn-Bold.woff2) format("woff2");
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: vazir, sans-serif !important;
}
